//success
.voyager .btn {
    &.btn-success {
        color: #fff;
        background-color: #0abb87;
        border-color: #0abb87;
        color: #ffffff;

        &:hover {
            color: #fff;
            background-color: #08976d;
            border-color: #078b64;
        }

        &:focus,
        &.focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        }

        &.disabled,
        &:disabled {
            color: #fff;
            background-color: #0abb87;
            border-color: #0abb87;
        }

        &:not(:disabled):not(.disabled) {

            &:active,
            &.active {
                color: #fff;
                background-color: #078b64;
                border-color: #077e5b;
            }
        }
    }

    .show>.btn-success.dropdown-toggle {
        color: #fff;
        background-color: #078b64;
        border-color: #077e5b;
    }

    .btn-success:not(:disabled):not(.disabled) {

        &:active:focus,
        &.active:focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        }
    }

    .show>.btn-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
    }

    .btn-success+.btn.dropdown-toggle {
        position: relative;

        &:before {
            display: block;
            content: ' ';
            border-left: 1px solid #ffffff;
            position: absolute;
            top: 3px;
            left: -1px;
            bottom: 3px;
            opacity: 0.3;
        }

        &:hover:before,
        &:focus:before,
        &.active:before {
            display: none;
        }
    }

    //danger
    &.btn-danger {
        color: #fff;
        background-color: #fd397a;
        border-color: #fd397a;
        color: #ffffff;

        &:hover {
            color: #fff;
            background-color: #fd1361;
            border-color: #fc0758;
        }

        &:focus,
        &.focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
        }

        &.disabled,
        &:disabled {
            color: #fff;
            background-color: #fd397a;
            border-color: #fd397a;
        }

        &:not(:disabled):not(.disabled) {

            &:active,
            &.active {
                color: #fff;
                background-color: #fc0758;
                border-color: #f40252;
            }
        }
    }

    .show>.btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #fc0758;
        border-color: #f40252;
    }

    .btn-danger:not(:disabled):not(.disabled) {

        &:active:focus,
        &.active:focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
        }
    }

    .show>.btn-danger.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
    }

    .btn-danger+.btn.dropdown-toggle {
        position: relative;

        &:before {
            display: block;
            content: ' ';
            border-left: 1px solid #ffffff;
            position: absolute;
            top: 3px;
            left: -1px;
            bottom: 3px;
            opacity: 0.3;
        }

        &:hover:before,
        &:focus:before,
        &.active:before {
            display: none;
        }
    }
}



//end success
