.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        transition: 500ms;
        margin-bottom: 10px;
        opacity: 0.8;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;

        &:hover {
            opacity: 1;
        }
    }
}


@media screen and (max-width: 479px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;

        div {
            margin: 0;
            width: 200px;
        }
    }
}
