.select2-container--default .select2-selection--single {
    padding-bottom: 30px;

    &:focus {
        border-color: $main-color1;
    }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: $main-color1;
}

.select2-container--default {
    .select2-selection--single {
        .select2-selection__arrow {
            right: 10px;

            b {
                border: none;
                background-image: url(#{$get-path-to-assets}/assets/images/arrow-down-color.svg);
                background-repeat: no-repeat;
                background-size: 16px;
                width: 16px;
                height: 14px;
                margin-top: -7px;
                right: 0;
                left: auto;
            }
        }
    }

    .select2-selection--multiple {
        .select2-selection__choice {
            background-color: $main-color2;
            border: 1px solid $main-color1;
            border-radius: 4px;
            color: $main-color1;
            font-size: 14px;
            position: relative;
            padding: 0 25px 0 15px;

            .select2-selection__choice__remove {
                color: transparent;
                position: absolute;
                right: 5px;
                background-image: url(#{$get-path-to-assets}/assets/images/ico-close-red.svg);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 8px;
            }
        }
    }

    &.select2-container--open {
        .select2-dropdown--below {
            box-shadow: none;
        }
    }

    .select2-results {
        &>.select2-results__options {
            border-radius: 6px;
            box-shadow: 0px 1px 6px $main-color15;
        }
    }

    .select2-results__option {
        color: $main-color5;

        &[aria-selected] {
            padding: 8px 10px 8px 15px;
        }

        &[aria-selected="true"] {
            background-color: $main-color10;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 6px;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $main-color10;
        color: $main-color5;
    }

    .select2-search--dropdown {
        .select2-search__field {
            border-color: $main-color9;
            border-radius: 3px;
            margin: 6px 0;
        }
    }
}
