//path
// $get-path-to-assets : "/careersadmin";
$get-path-to-assets: "";

//text-color
$main-color1: #f7941d;
$main-color2: #ffffff;
$main-color3: #1a1a27;
$main-color4: #1e1e2d;
$main-color5: #5b6670;
$main-color6: #13131b;
$main-color7: #9ca2a8;
$main-color8: #b3b9bd;
$main-color9: #e6e8ea;
$main-color10: #f6f7f8;
$main-color11: #eeeff0;
$main-color12: #3cbc37;
$main-color13: rgba(91, 102, 112, 0.4);
$main-color14: rgba(91, 102, 112, 0.6);
$main-color15: rgba(0, 0, 0, 0.16);
$main-color16: rgba(0, 0, 0, 0.2);
$main-color17: #ea856a;
$main-color18: #e20000;
$main-color19: rgba(91, 102, 112, 0.15);
$main-color20: #007853;
$main-color21: #e6e7e9;
$main-color22: rgba(207, 51, 57, 0.6);

//font-family
$normal1: "SukhumvitTadmai-Text";
$bold1: "SukhumvitTadmai-Bold";
$thin1: "SukhumvitTadmai-Thin";
$normal2: "PSL249pro-Text";
$bold2: "PSL251pro-Bold";

//text-weight
$text-bold: bold;
$text-normal: normal;

//text color
$text-color: #333;

//text-size
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-20: 20px;
$text-24: 24px;

//border-radius
$border-small: 6px;
$border-circle: 40px;

.form-control {
    color: $text-color;
}

.form-control.focus,
.form-control:focus {
    border-color: $main-color1;
}

//logo
.app-container {
    &.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
        display: none;
    }

    & .content-container .side-menu .navbar-header .navbar-brand {
        & .logo-icon-container {
            width: 145px;
            height: auto;
            margin-left: 10%;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

body.login .form-group .container-chbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 30px;
    width: 100%;
    left: 0;
    z-index: 2;
}

input[type=checkbox] {
    background: #FFFFFF;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #9CA2A8;
    border-radius: 3px;
    outline: none;
    margin-bottom: -5px;
}

input[type=checkbox]:checked {
    background: $main-color1;
    border-color: $main-color1;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 6px;
}

input:hover, input:focus, input:active, input:checked {
    outline: none !important;
}

//index
.text-happy{
    color: #f7941d;
}

input[type=radio]:checked~label {
    color: #f7941d;
}

@import '~sweetalert2/src/sweetalert2.scss';

//roles
@import "roles";

//users
@import "users";

//slide
@import "slide";

//table
@import "table";

//navbar
@import "navbar";

//select2
@import "select2";

//radio button
@import "radiobutton";

//roles
@import "button";
