.form-control {
  color: #333;
}

.form-control.focus,
.form-control:focus {
  border-color: #f7941d;
}

.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
  display: none;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .logo-icon-container {
  width: 145px;
  height: auto;
  margin-left: 10%;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}

body.login .form-group .container-chbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 30px;
  width: 100%;
  left: 0;
  z-index: 2;
}

input[type=checkbox] {
  background: #FFFFFF;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #9CA2A8;
  border-radius: 3px;
  outline: none;
  margin-bottom: -5px;
}

input[type=checkbox]:checked {
  background: #f7941d;
  border-color: #f7941d;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: 3px 6px;
}

input:hover,
input:focus,
input:active,
input:checked {
  outline: none !important;
}

.text-happy {
  color: #f7941d;
}

input[type=radio]:checked ~ label {
  color: #f7941d;
}

.swal2-popup.swal2-toast {
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 0.625em;
  overflow-y: hidden;
  background: #fff;
  box-shadow: 0 0 0.625em #d9d9d9;
}

.swal2-popup.swal2-toast .swal2-header {
  flex-direction: row;
}

.swal2-popup.swal2-toast .swal2-title {
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0 0.6em;
  font-size: 1em;
}

.swal2-popup.swal2-toast .swal2-footer {
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  font-size: 0.8em;
}

.swal2-popup.swal2-toast .swal2-close {
  position: static;
  width: 0.8em;
  height: 0.8em;
  line-height: 0.8;
}

.swal2-popup.swal2-toast .swal2-content {
  justify-content: flex-start;
  font-size: 1em;
}

.swal2-popup.swal2-toast .swal2-icon {
  width: 2em;
  min-width: 2em;
  height: 2em;
  margin: 0;
}

.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
    font-size: 0.25em;
  }
}

.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring {
  width: 2em;
  height: 2em;
}

.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  top: 0.875em;
  width: 1.375em;
}

.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
  left: 0.3125em;
}

.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
  right: 0.3125em;
}

.swal2-popup.swal2-toast .swal2-actions {
  flex-basis: auto !important;
  width: auto;
  height: auto;
  margin: 0 0.3125em;
}

.swal2-popup.swal2-toast .swal2-styled {
  margin: 0 0.3125em;
  padding: 0.3125em 0.625em;
  font-size: 1em;
}

.swal2-popup.swal2-toast .swal2-styled:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(50, 100, 150, 0.4);
}

.swal2-popup.swal2-toast .swal2-success {
  border-color: #a5dc86;
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line] {
  position: absolute;
  width: 1.6em;
  height: 3em;
  transform: rotate(45deg);
  border-radius: 50%;
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left] {
  top: -0.8em;
  left: -0.5em;
  transform: rotate(-45deg);
  transform-origin: 2em 2em;
  border-radius: 4em 0 0 4em;
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right] {
  top: -0.25em;
  left: 0.9375em;
  transform-origin: 0 1.5em;
  border-radius: 0 4em 4em 0;
}

.swal2-popup.swal2-toast .swal2-success .swal2-success-ring {
  width: 2em;
  height: 2em;
}

.swal2-popup.swal2-toast .swal2-success .swal2-success-fix {
  top: 0;
  left: 0.4375em;
  width: 0.4375em;
  height: 2.6875em;
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line] {
  height: 0.3125em;
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=tip] {
  top: 1.125em;
  left: 0.1875em;
  width: 0.75em;
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=long] {
  top: 0.9375em;
  right: 0.1875em;
  width: 1.375em;
}

.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-tip {
  -webkit-animation: swal2-toast-animate-success-line-tip 0.75s;
          animation: swal2-toast-animate-success-line-tip 0.75s;
}

.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-long {
  -webkit-animation: swal2-toast-animate-success-line-long 0.75s;
          animation: swal2-toast-animate-success-line-long 0.75s;
}

.swal2-popup.swal2-toast.swal2-show {
  -webkit-animation: swal2-toast-show 0.5s;
          animation: swal2-toast-show 0.5s;
}

.swal2-popup.swal2-toast.swal2-hide {
  -webkit-animation: swal2-toast-hide 0.1s forwards;
          animation: swal2-toast-hide 0.1s forwards;
}

.swal2-container {
  display: flex;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  overflow-x: hidden;
  transition: background-color 0.1s;
  -webkit-overflow-scrolling: touch;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.4);
}

.swal2-container.swal2-backdrop-hide {
  background: transparent !important;
}

.swal2-container.swal2-top {
  align-items: flex-start;
}

.swal2-container.swal2-top-start,
.swal2-container.swal2-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.swal2-container.swal2-top-end,
.swal2-container.swal2-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.swal2-container.swal2-center {
  align-items: center;
}

.swal2-container.swal2-center-start,
.swal2-container.swal2-center-left {
  align-items: center;
  justify-content: flex-start;
}

.swal2-container.swal2-center-end,
.swal2-container.swal2-center-right {
  align-items: center;
  justify-content: flex-end;
}

.swal2-container.swal2-bottom {
  align-items: flex-end;
}

.swal2-container.swal2-bottom-start,
.swal2-container.swal2-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.swal2-container.swal2-bottom-end,
.swal2-container.swal2-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.swal2-container.swal2-bottom > :first-child,
.swal2-container.swal2-bottom-start > :first-child,
.swal2-container.swal2-bottom-left > :first-child,
.swal2-container.swal2-bottom-end > :first-child,
.swal2-container.swal2-bottom-right > :first-child {
  margin-top: auto;
}

.swal2-container.swal2-grow-fullscreen > .swal2-modal {
  display: flex !important;
  flex: 1;
  align-self: stretch;
  justify-content: center;
}

.swal2-container.swal2-grow-row > .swal2-modal {
  display: flex !important;
  flex: 1;
  align-content: center;
  justify-content: center;
}

.swal2-container.swal2-grow-column {
  flex: 1;
  flex-direction: column;
}

.swal2-container.swal2-grow-column.swal2-top,
.swal2-container.swal2-grow-column.swal2-center,
.swal2-container.swal2-grow-column.swal2-bottom {
  align-items: center;
}

.swal2-container.swal2-grow-column.swal2-top-start,
.swal2-container.swal2-grow-column.swal2-center-start,
.swal2-container.swal2-grow-column.swal2-bottom-start,
.swal2-container.swal2-grow-column.swal2-top-left,
.swal2-container.swal2-grow-column.swal2-center-left,
.swal2-container.swal2-grow-column.swal2-bottom-left {
  align-items: flex-start;
}

.swal2-container.swal2-grow-column.swal2-top-end,
.swal2-container.swal2-grow-column.swal2-center-end,
.swal2-container.swal2-grow-column.swal2-bottom-end,
.swal2-container.swal2-grow-column.swal2-top-right,
.swal2-container.swal2-grow-column.swal2-center-right,
.swal2-container.swal2-grow-column.swal2-bottom-right {
  align-items: flex-end;
}

.swal2-container.swal2-grow-column > .swal2-modal {
  display: flex !important;
  flex: 1;
  align-content: center;
  justify-content: center;
}

.swal2-container.swal2-no-transition {
  transition: none !important;
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen) > .swal2-modal {
  margin: auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .swal2-container .swal2-modal {
    margin: 0 !important;
  }
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 0.3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}

.swal2-popup:focus {
  outline: none;
}

.swal2-popup.swal2-loading {
  overflow-y: hidden;
}

.swal2-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0 0 0.4em;
  padding: 0;
  color: #595959;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

.swal2-actions {
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1.25em auto 0;
}

.swal2-actions:not(.swal2-loading) .swal2-styled[disabled] {
  opacity: 0.4;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.swal2-actions:not(.swal2-loading) .swal2-styled:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
  box-sizing: border-box;
  width: 2.5em;
  height: 2.5em;
  margin: 0.46875em;
  padding: 0;
  -webkit-animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
          animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
  border: 0.25em solid transparent;
  border-radius: 100%;
  border-color: transparent;
  background-color: transparent !important;
  color: transparent !important;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swal2-actions.swal2-loading .swal2-styled.swal2-cancel {
  margin-right: 30px;
  margin-left: 30px;
}

.swal2-actions.swal2-loading :not(.swal2-styled).swal2-confirm::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  -webkit-animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
          animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
  border: 3px solid #999999;
  border-radius: 50%;
  border-right-color: transparent;
  box-shadow: 1px 1px 1px #fff;
}

.swal2-styled {
  margin: 0.3125em;
  padding: 0.625em 2em;
  box-shadow: none;
  font-weight: 500;
}

.swal2-styled:not([disabled]) {
  cursor: pointer;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #3085d6;
  color: #fff;
  font-size: 1.0625em;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #aaa;
  color: #fff;
  font-size: 1.0625em;
}

.swal2-styled:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(50, 100, 150, 0.4);
}

.swal2-styled::-moz-focus-inner {
  border: 0;
}

.swal2-footer {
  justify-content: center;
  margin: 1.25em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #eee;
  color: #545454;
  font-size: 1em;
}

.swal2-timer-progress-bar-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.25em;
  overflow: hidden;
  border-bottom-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
}

.swal2-timer-progress-bar {
  width: 100%;
  height: 0.25em;
  background: rgba(0, 0, 0, 0.2);
}

.swal2-image {
  max-width: 100%;
  margin: 1.25em auto;
}

.swal2-close {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  overflow: hidden;
  transition: color 0.1s ease-out;
  border: none;
  border-radius: 0;
  background: transparent;
  color: #cccccc;
  font-family: serif;
  font-size: 2.5em;
  line-height: 1.2;
  cursor: pointer;
}

.swal2-close:hover {
  transform: none;
  background: transparent;
  color: #f27474;
}

.swal2-close::-moz-focus-inner {
  border: 0;
}

.swal2-content {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #545454;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
}

.swal2-input,
.swal2-file,
.swal2-textarea,
.swal2-select,
.swal2-radio,
.swal2-checkbox {
  margin: 1em auto;
}

.swal2-input,
.swal2-file,
.swal2-textarea {
  box-sizing: border-box;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
  border: 1px solid #d9d9d9;
  border-radius: 0.1875em;
  background: inherit;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  color: inherit;
  font-size: 1.125em;
}

.swal2-input.swal2-inputerror,
.swal2-file.swal2-inputerror,
.swal2-textarea.swal2-inputerror {
  border-color: #f27474 !important;
  box-shadow: 0 0 2px #f27474 !important;
}

.swal2-input:focus,
.swal2-file:focus,
.swal2-textarea:focus {
  border: 1px solid #b4dbed;
  outline: none;
  box-shadow: 0 0 3px #c4e6f5;
}

.swal2-input::-webkit-input-placeholder, .swal2-file::-webkit-input-placeholder, .swal2-textarea::-webkit-input-placeholder {
  color: #cccccc;
}

.swal2-input::-moz-placeholder, .swal2-file::-moz-placeholder, .swal2-textarea::-moz-placeholder {
  color: #cccccc;
}

.swal2-input:-ms-input-placeholder, .swal2-file:-ms-input-placeholder, .swal2-textarea:-ms-input-placeholder {
  color: #cccccc;
}

.swal2-input::-ms-input-placeholder, .swal2-file::-ms-input-placeholder, .swal2-textarea::-ms-input-placeholder {
  color: #cccccc;
}

.swal2-input::placeholder,
.swal2-file::placeholder,
.swal2-textarea::placeholder {
  color: #cccccc;
}

.swal2-range {
  margin: 1em auto;
  background: #fff;
}

.swal2-range input {
  width: 80%;
}

.swal2-range output {
  width: 20%;
  color: inherit;
  font-weight: 600;
  text-align: center;
}

.swal2-range input,
.swal2-range output {
  height: 2.625em;
  padding: 0;
  font-size: 1.125em;
  line-height: 2.625em;
}

.swal2-input {
  height: 2.625em;
  padding: 0 0.75em;
}

.swal2-input[type=number] {
  max-width: 10em;
}

.swal2-file {
  background: inherit;
  font-size: 1.125em;
}

.swal2-textarea {
  height: 6.75em;
  padding: 0.75em;
}

.swal2-select {
  min-width: 50%;
  max-width: 100%;
  padding: 0.375em 0.625em;
  background: inherit;
  color: inherit;
  font-size: 1.125em;
}

.swal2-radio,
.swal2-checkbox {
  align-items: center;
  justify-content: center;
  background: #fff;
  color: inherit;
}

.swal2-radio label,
.swal2-checkbox label {
  margin: 0 0.6em;
  font-size: 1.125em;
}

.swal2-radio input,
.swal2-checkbox input {
  margin: 0 0.4em;
}

.swal2-validation-message {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  overflow: hidden;
  background: #f0f0f0;
  color: #666666;
  font-size: 1em;
  font-weight: 300;
}

.swal2-validation-message::before {
  content: "!";
  display: inline-block;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  margin: 0 0.625em;
  border-radius: 50%;
  background-color: #f27474;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
}

.swal2-icon {
  position: relative;
  box-sizing: content-box;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 1.25em auto 1.875em;
  border: 0.25em solid transparent;
  border-radius: 50%;
  font-family: inherit;
  line-height: 5em;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swal2-icon .swal2-icon-content {
  display: flex;
  align-items: center;
  font-size: 3.75em;
}

.swal2-icon.swal2-error {
  border-color: #f27474;
  color: #f27474;
}

.swal2-icon.swal2-error .swal2-x-mark {
  position: relative;
  flex-grow: 1;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  display: block;
  position: absolute;
  top: 2.3125em;
  width: 2.9375em;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #f27474;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
  left: 1.0625em;
  transform: rotate(45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
  right: 1em;
  transform: rotate(-45deg);
}

.swal2-icon.swal2-error.swal2-icon-show {
  -webkit-animation: swal2-animate-error-icon 0.5s;
          animation: swal2-animate-error-icon 0.5s;
}

.swal2-icon.swal2-error.swal2-icon-show .swal2-x-mark {
  -webkit-animation: swal2-animate-error-x-mark 0.5s;
          animation: swal2-animate-error-x-mark 0.5s;
}

.swal2-icon.swal2-warning {
  border-color: #facea8;
  color: #f8bb86;
}

.swal2-icon.swal2-info {
  border-color: #9de0f6;
  color: #3fc3ee;
}

.swal2-icon.swal2-question {
  border-color: #c9dae1;
  color: #87adbd;
}

.swal2-icon.swal2-success {
  border-color: #a5dc86;
  color: #a5dc86;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
  position: absolute;
  width: 3.75em;
  height: 7.5em;
  transform: rotate(45deg);
  border-radius: 50%;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
  top: -0.4375em;
  left: -2.0635em;
  transform: rotate(-45deg);
  transform-origin: 3.75em 3.75em;
  border-radius: 7.5em 0 0 7.5em;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
  top: -0.6875em;
  left: 1.875em;
  transform: rotate(-45deg);
  transform-origin: 0 3.75em;
  border-radius: 0 7.5em 7.5em 0;
}

.swal2-icon.swal2-success .swal2-success-ring {
  position: absolute;
  z-index: 2;
  top: -0.25em;
  left: -0.25em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: 0.25em solid rgba(165, 220, 134, 0.3);
  border-radius: 50%;
}

.swal2-icon.swal2-success .swal2-success-fix {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 1.625em;
  width: 0.4375em;
  height: 5.625em;
  transform: rotate(-45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  display: block;
  position: absolute;
  z-index: 2;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #a5dc86;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
  top: 2.875em;
  left: 0.8125em;
  width: 1.5625em;
  transform: rotate(45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
  top: 2.375em;
  right: 0.5em;
  width: 2.9375em;
  transform: rotate(-45deg);
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip {
  -webkit-animation: swal2-animate-success-line-tip 0.75s;
          animation: swal2-animate-success-line-tip 0.75s;
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long {
  -webkit-animation: swal2-animate-success-line-long 0.75s;
          animation: swal2-animate-success-line-long 0.75s;
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right {
  -webkit-animation: swal2-rotate-success-circular-line 4.25s ease-in;
          animation: swal2-rotate-success-circular-line 4.25s ease-in;
}

.swal2-progress-steps {
  align-items: center;
  margin: 0 0 1.25em;
  padding: 0;
  background: inherit;
  font-weight: 600;
}

.swal2-progress-steps li {
  display: inline-block;
  position: relative;
}

.swal2-progress-steps .swal2-progress-step {
  z-index: 20;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background: #3085d6;
  color: #fff;
  line-height: 2em;
  text-align: center;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #3085d6;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step {
  background: #add8e6;
  color: #fff;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
  background: #add8e6;
}

.swal2-progress-steps .swal2-progress-step-line {
  z-index: 10;
  width: 2.5em;
  height: 0.4em;
  margin: 0 -1px;
  background: #3085d6;
}

[class^=swal2] {
  -webkit-tap-highlight-color: transparent;
}

.swal2-show {
  -webkit-animation: swal2-show 0.3s;
          animation: swal2-show 0.3s;
}

.swal2-hide {
  -webkit-animation: swal2-hide 0.15s forwards;
          animation: swal2-hide 0.15s forwards;
}

.swal2-noanimation {
  transition: none;
}

.swal2-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.swal2-rtl .swal2-close {
  right: auto;
  left: 0;
}

.swal2-rtl .swal2-timer-progress-bar {
  right: 0;
  left: auto;
}

@supports (-ms-accelerator: true) {
  .swal2-range input {
    width: 100% !important;
  }

  .swal2-range output {
    display: none;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .swal2-range input {
    width: 100% !important;
  }

  .swal2-range output {
    display: none;
  }
}

@-moz-document url-prefix()  {
  .swal2-close:focus {
    outline: 2px solid rgba(50, 100, 150, 0.4);
  }
}

@-webkit-keyframes swal2-toast-show {
  0% {
    transform: translateY(-0.625em) rotateZ(2deg);
  }

  33% {
    transform: translateY(0) rotateZ(-2deg);
  }

  66% {
    transform: translateY(0.3125em) rotateZ(2deg);
  }

  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}

@keyframes swal2-toast-show {
  0% {
    transform: translateY(-0.625em) rotateZ(2deg);
  }

  33% {
    transform: translateY(0) rotateZ(-2deg);
  }

  66% {
    transform: translateY(0.3125em) rotateZ(2deg);
  }

  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}

@-webkit-keyframes swal2-toast-hide {
  100% {
    transform: rotateZ(1deg);
    opacity: 0;
  }
}

@keyframes swal2-toast-hide {
  100% {
    transform: rotateZ(1deg);
    opacity: 0;
  }
}

@-webkit-keyframes swal2-toast-animate-success-line-tip {
  0% {
    top: 0.5625em;
    left: 0.0625em;
    width: 0;
  }

  54% {
    top: 0.125em;
    left: 0.125em;
    width: 0;
  }

  70% {
    top: 0.625em;
    left: -0.25em;
    width: 1.625em;
  }

  84% {
    top: 1.0625em;
    left: 0.75em;
    width: 0.5em;
  }

  100% {
    top: 1.125em;
    left: 0.1875em;
    width: 0.75em;
  }
}

@keyframes swal2-toast-animate-success-line-tip {
  0% {
    top: 0.5625em;
    left: 0.0625em;
    width: 0;
  }

  54% {
    top: 0.125em;
    left: 0.125em;
    width: 0;
  }

  70% {
    top: 0.625em;
    left: -0.25em;
    width: 1.625em;
  }

  84% {
    top: 1.0625em;
    left: 0.75em;
    width: 0.5em;
  }

  100% {
    top: 1.125em;
    left: 0.1875em;
    width: 0.75em;
  }
}

@-webkit-keyframes swal2-toast-animate-success-line-long {
  0% {
    top: 1.625em;
    right: 1.375em;
    width: 0;
  }

  65% {
    top: 1.25em;
    right: 0.9375em;
    width: 0;
  }

  84% {
    top: 0.9375em;
    right: 0;
    width: 1.125em;
  }

  100% {
    top: 0.9375em;
    right: 0.1875em;
    width: 1.375em;
  }
}

@keyframes swal2-toast-animate-success-line-long {
  0% {
    top: 1.625em;
    right: 1.375em;
    width: 0;
  }

  65% {
    top: 1.25em;
    right: 0.9375em;
    width: 0;
  }

  84% {
    top: 0.9375em;
    right: 0;
    width: 1.125em;
  }

  100% {
    top: 0.9375em;
    right: 0.1875em;
    width: 1.375em;
  }
}

@-webkit-keyframes swal2-show {
  0% {
    transform: scale(0.7);
  }

  45% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes swal2-show {
  0% {
    transform: scale(0.7);
  }

  45% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes swal2-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes swal2-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes swal2-animate-success-line-tip {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }

  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }

  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }

  84% {
    top: 3em;
    left: 1.3125em;
    width: 1.0625em;
  }

  100% {
    top: 2.8125em;
    left: 0.8125em;
    width: 1.5625em;
  }
}

@keyframes swal2-animate-success-line-tip {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }

  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }

  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }

  84% {
    top: 3em;
    left: 1.3125em;
    width: 1.0625em;
  }

  100% {
    top: 2.8125em;
    left: 0.8125em;
    width: 1.5625em;
  }
}

@-webkit-keyframes swal2-animate-success-line-long {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }

  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }

  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }

  100% {
    top: 2.375em;
    right: 0.5em;
    width: 2.9375em;
  }
}

@keyframes swal2-animate-success-line-long {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }

  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }

  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }

  100% {
    top: 2.375em;
    right: 0.5em;
    width: 2.9375em;
  }
}

@-webkit-keyframes swal2-rotate-success-circular-line {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes swal2-rotate-success-circular-line {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes swal2-animate-error-x-mark {
  0% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }

  50% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }

  80% {
    margin-top: -0.375em;
    transform: scale(1.15);
  }

  100% {
    margin-top: 0;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes swal2-animate-error-x-mark {
  0% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }

  50% {
    margin-top: 1.625em;
    transform: scale(0.4);
    opacity: 0;
  }

  80% {
    margin-top: -0.375em;
    transform: scale(1.15);
  }

  100% {
    margin-top: 0;
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes swal2-animate-error-icon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes swal2-animate-error-icon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes swal2-rotate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes swal2-rotate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: hidden;
}

body.swal2-height-auto {
  height: auto !important;
}

body.swal2-no-backdrop .swal2-container {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  max-width: calc(100% - 0.625em * 2);
  background-color: transparent !important;
}

body.swal2-no-backdrop .swal2-container > .swal2-modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

body.swal2-no-backdrop .swal2-container.swal2-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

body.swal2-no-backdrop .swal2-container.swal2-top-start,
body.swal2-no-backdrop .swal2-container.swal2-top-left {
  top: 0;
  left: 0;
}

body.swal2-no-backdrop .swal2-container.swal2-top-end,
body.swal2-no-backdrop .swal2-container.swal2-top-right {
  top: 0;
  right: 0;
}

body.swal2-no-backdrop .swal2-container.swal2-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.swal2-no-backdrop .swal2-container.swal2-center-start,
body.swal2-no-backdrop .swal2-container.swal2-center-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

body.swal2-no-backdrop .swal2-container.swal2-center-end,
body.swal2-no-backdrop .swal2-container.swal2-center-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

body.swal2-no-backdrop .swal2-container.swal2-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body.swal2-no-backdrop .swal2-container.swal2-bottom-start,
body.swal2-no-backdrop .swal2-container.swal2-bottom-left {
  bottom: 0;
  left: 0;
}

body.swal2-no-backdrop .swal2-container.swal2-bottom-end,
body.swal2-no-backdrop .swal2-container.swal2-bottom-right {
  right: 0;
  bottom: 0;
}

@media print {
  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow-y: scroll !important;
  }

  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) > [aria-hidden=true] {
    display: none;
  }

  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) .swal2-container {
    position: static !important;
  }
}

body.swal2-toast-shown .swal2-container {
  background-color: transparent;
}

body.swal2-toast-shown .swal2-container.swal2-top {
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}

body.swal2-toast-shown .swal2-container.swal2-top-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}

body.swal2-toast-shown .swal2-container.swal2-top-start,
body.swal2-toast-shown .swal2-container.swal2-top-left {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}

body.swal2-toast-shown .swal2-container.swal2-center-start,
body.swal2-toast-shown .swal2-container.swal2-center-left {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  transform: translateY(-50%);
}

body.swal2-toast-shown .swal2-container.swal2-center {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.swal2-toast-shown .swal2-container.swal2-center-end,
body.swal2-toast-shown .swal2-container.swal2-center-right {
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
}

body.swal2-toast-shown .swal2-container.swal2-bottom-start,
body.swal2-toast-shown .swal2-container.swal2-bottom-left {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

body.swal2-toast-shown .swal2-container.swal2-bottom {
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body.swal2-toast-shown .swal2-container.swal2-bottom-end,
body.swal2-toast-shown .swal2-container.swal2-bottom-right {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

body.swal2-toast-column .swal2-toast {
  flex-direction: column;
  align-items: stretch;
}

body.swal2-toast-column .swal2-toast .swal2-actions {
  flex: 1;
  align-self: stretch;
  height: 2.2em;
  margin-top: 0.3125em;
}

body.swal2-toast-column .swal2-toast .swal2-loading {
  justify-content: center;
}

body.swal2-toast-column .swal2-toast .swal2-input {
  height: 2em;
  margin: 0.3125em auto;
  font-size: 1em;
}

body.swal2-toast-column .swal2-toast .swal2-validation-message {
  font-size: 1em;
}

.roles .page-content .form-edit-add .panel-body {
  font-size: 0px;
}

.roles .page-content .form-edit-add .panel-body label {
  color: #5b6670;
  font-size: 16px;
  padding-left: 10px;
}

.roles .page-content .form-edit-add .panel-body label[for=permission] {
  padding-bottom: 7px;
}

.roles .page-content .panel-body a.permission-select-all {
  border: 1px solid #f7941d;
  border-radius: 6px;
  padding: 7px 31px;
  color: #f7941d;
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(91, 102, 112, 0.15);
  width: 30px;
  height: 120px;
  margin-right: 20px;
}

.roles .page-content .panel-body a.permission-deselect-all {
  border: 1px solid rgba(91, 102, 112, 0.4);
  border-radius: 6px;
  padding: 7px 31px;
  color: rgba(91, 102, 112, 0.4);
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(91, 102, 112, 0.15);
  width: 30px;
  height: 120px;
  margin-right: 20px;
}

.roles .page-content .panel-body ul.permissions {
  margin-top: 22px;
}

.roles .page-content .panel-body ul.permissions ul li label {
  font-size: 14px !important;
}

.users li.select2-results__option:nth-child(2) {
  display: none;
}

.users .select2-dropdown.select2-dropdown--below .select2-search--dropdown,
.users .select2-dropdown.select2-dropdown--above .select2-search--dropdown {
  display: none;
}

.users .select2-dropdown.select2-dropdown--above {
  border: none;
}

.users ul#select2-package-results li:nth-child(2) {
  display: block;
}

.voyager .side-menu .navbar-header {
  background: #1a1a27;
  border-color: #1a1a27;
}

.voyager .side-menu .panel.widget {
  display: none;
}

.voyager .side-menu.sidebar-inverse {
  background: #1e1e2d;
}

.voyager .side-menu.sidebar-inverse .navbar li > a {
  color: #ffffff;
}

.voyager .side-menu.sidebar-inverse .navbar li > a img {
  width: 20px;
  margin-left: 10px;
  margin-right: 6px;
  margin-top: -10px;
}

.voyager .side-menu.sidebar-inverse .navbar li > a:hover {
  color: #ffffff;
  background: #13131b;
}

.voyager .side-menu.sidebar-inverse .navbar li > a:hover svg g [fill] {
  fill: #f7941d;
}

.voyager .side-menu.sidebar-inverse .navbar li > a svg {
  margin-left: 10px;
}

.voyager .side-menu.sidebar-inverse .navbar li > a svg g [fill] {
  fill: #ffffff;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a {
  background: #13131b;
  font-weight: bold;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a svg g [fill] {
  fill: #f7941d;
}

table.table {
  border: 1px solid #b3b9bd;
  border-collapse: separate;
  border-radius: 6px;
  table-layout: auto;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

table.table.no-footer {
  border-bottom: 1px solid #b3b9bd;
}

table.table th {
  color: #5b6670;
}

table.table th.actions {
  border-top-right-radius: 6px;
}

table.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table.table td {
  color: #5b6670;
}

.voyager .table > thead > tr > th {
  border: 1px solid #b3b9bd;
  border-left: none;
  background: #eeeff0;
  padding: 15px 20px;
  color: #5b6670;
  vertical-align: middle;
  min-height: 52px;
}

.voyager .table > thead > tr > th:last-child {
  border-right: none;
  text-align: center !important;
}

.voyager .table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #e6e8ea;
  border-right: 1px solid #e6e8ea;
  padding: 15px 20px;
  color: #5b6670;
  vertical-align: middle;
  white-space: normal;
  max-width: 505px;
}

.voyager .table > tbody > tr > td a.btn {
  border-radius: 6px;
  box-shadow: none;
}

.voyager .table > tbody > tr:last-child > td {
  border-bottom: none;
}

.voyager .table > tbody > tr > td:last-child {
  border-right: none;
}

.voyager .table > tbody > tr td#bread-actions.no-sort.no-click {
  text-align: center;
}

.voyager .table > tbody > tr td#bread-actions.no-sort.no-click .select2-container {
  border: none;
}

.voyager .table > tbody > tr td#bread-actions.no-sort.no-click .select2-container .select2-selection {
  background-color: transparent;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: static;
  display: inline;
}

table.table-striped {
  border: 1px solid #b3b9bd;
  border-collapse: separate;
  border-radius: 6px;
  table-layout: auto;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

table.table-striped thead th:first-child {
  border-top-left-radius: 6px;
}

table.table-striped thead th:last-child {
  border-top-right-radius: 6px;
}

table.table-striped tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table.table-striped tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.dataTables_wrapper .dataTables_filter label {
  margin: 0 0 20px;
}

.dataTables_wrapper .dataTables_filter label:after {
  background-image: url(/assets/images/ico-search.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
}

.dataTables_wrapper .dataTables_filter label input {
  border: 1px solid #e6e8ea;
  border-radius: 3px;
  width: 432px;
  height: 35px;
  font-size: 14px;
  color: #1a1a27;
  padding: 8px 40px 8px 10px;
}

.dataTables_wrapper .dataTables_filter label input::-webkit-input-placeholder {
  font-size: 14px;
  color: #b3b9bd;
}

.dataTables_wrapper .dataTables_filter label input::-webkit-input-placeholder,
.dataTables_wrapper .dataTables_filter label input::-moz-placeholder,
.dataTables_wrapper .dataTables_filter label input:-ms-input-placeholder,
.dataTables_wrapper .dataTables_filter label input::-ms-input-placeholder,
.dataTables_wrapper .dataTables_filter label input::placeholder {
  font-size: 14px;
  color: #b3b9bd;
}

.dataTables_wrapper .dataTables_info {
  color: #1a1a27;
  font-weight: normal;
  font-size: 16px;
  padding-top: 0;
  margin-top: 27px;
  float: left;
  display: inline-block;
  width: 30%;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0;
  margin-top: 27px;
  float: none;
  text-align: center;
  display: inline-block;
  width: 40%;
}

.dataTables_wrapper .dataTables_paginate ul.pagination {
  margin: 0;
}

.dataTables_wrapper .dataTables_paginate ul.pagination > .disabled > span {
  color: #5b6670;
  border: none;
  padding: 0 10px;
}

.dataTables_wrapper .dataTables_paginate ul li.first a:before,
.dataTables_wrapper .dataTables_paginate ul li.last a:after {
  top: 0;
}

.dataTables_wrapper .dataTables_paginate ul li.previous > a,
.dataTables_wrapper .dataTables_paginate ul li.next > a {
  color: transparent;
  padding: 0;
  border-radius: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 28px;
  height: 28px;
}

.dataTables_wrapper .dataTables_paginate ul li.previous a:before {
  top: 0;
  margin-top: 2px;
  margin-left: -5px;
  color: #f7941d;
}

.dataTables_wrapper .dataTables_paginate ul li.next a:after {
  top: 0;
  margin-top: 2px;
  margin-left: -5px;
  color: #f7941d;
}

.dataTables_wrapper .dataTables_paginate ul li.disabled a:before,
.dataTables_wrapper .dataTables_paginate ul li.disabled a:after {
  color: #b3b9bd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: transparent;
  background: none;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #1a1a27;
  background: none;
  border: none;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child .page-link {
  padding: 0;
  border-radius: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 28px;
  height: 28px;
  border: none;
  font-size: 18px;
  margin-top: -4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item:last-child .page-link {
  padding: 0;
  border-radius: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 28px;
  height: 28px;
  border: none;
  font-size: 18px;
  margin-top: -4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link {
  padding: 0 4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link:hover {
  padding: 0 4px;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link:hover {
  background-color: #ffffff;
}

.dataTables_wrapper .dataTables_length {
  float: right;
  margin-top: 27px;
  display: inline-block;
  width: 30%;
  text-align: right;
  color: #1a1a27;
}

.dataTables_wrapper .dataTables_length label {
  font-weight: normal;
  font-size: 16px;
}

.dataTables_wrapper .dataTables_length select {
  border: none;
  color: #1a1a27;
  font-size: 16px;
  padding: 0 6px;
  line-height: 1.6;
  height: 23px;
  width: 50px !important;
  margin-bottom: 3.5px;
  margin-left: 4px;
  margin-right: 4px;
  background-image: url(/assets/images/arrow-down-black.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.voyager .pagination .active > a {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #f7941d;
  padding: 0 4px;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination .active > a:focus,
.voyager .pagination .active > a:hover {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #f7941d;
  padding: 0 4px;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination .active > span:focus,
.voyager .pagination .active > span:hover {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #f7941d;
  padding: 0;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination .active span {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a27;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid #f7941d;
  padding: 0;
  margin: 0 8px;
  line-height: 1.2;
}

.voyager .pagination > li > a {
  color: #5b6670;
  padding: 0;
  margin: 0 8px;
  border: none;
  font-size: 16px;
  font-weight: normal;
}

.hamburger {
  padding: 15px 30px 40px 20px;
}

.hamburger.is-active svg:nth-child(2) {
  display: none;
}

.hamburger.is-active svg:nth-child(1) {
  display: block;
}

.hamburger svg:nth-child(1) {
  display: none;
}

.hamburger svg:nth-child(2) {
  display: block;
}

svg:hover path {
  cursor: pointer;
  fill: #f7941d;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 10px;
  left: 94%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 15px;
  top: 1.35em;
}

.dropdown-menu.show li.dropdown-item {
  padding: 10px;
}

.dropdown-menu.show li.dropdown-item a {
  padding: 0;
}

@media (max-width: 992px) {
  .navbar .dropdown-menu {
    width: 100%;
  }

  .dropdown-submenu .dropdown-menu {
    top: 100%;
    left: 0;
  }
}

.select2-container--default .select2-selection--single {
  padding-bottom: 30px;
}

.select2-container--default .select2-selection--single:focus {
  border-color: #f7941d;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #f7941d;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  background-image: url(/assets/images/arrow-down-color.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 14px;
  margin-top: -7px;
  right: 0;
  left: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ffffff;
  border: 1px solid #f7941d;
  border-radius: 4px;
  color: #f7941d;
  font-size: 14px;
  position: relative;
  padding: 0 25px 0 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  color: transparent;
  position: absolute;
  right: 5px;
  background-image: url(/assets/images/ico-close-red.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8px;
}

.select2-container--default.select2-container--open .select2-dropdown--below {
  box-shadow: none;
}

.select2-container--default .select2-results > .select2-results__options {
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.select2-container--default .select2-results__option {
  color: #5b6670;
}

.select2-container--default .select2-results__option[aria-selected] {
  padding: 8px 10px 8px 15px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f6f7f8;
}

.select2-container--default .select2-results__option img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f6f7f8;
  color: #5b6670;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #e6e8ea;
  border-radius: 3px;
  margin: 6px 0;
}

ul.radio li:hover .check {
  border: 4px solid #f7941d;
}

input[type=radio]:checked ~ .check {
  border: 4px solid #f7941d;
}

input[type=radio]:checked ~ .check:before {
  background: #f7941d;
}

.voyager .btn.btn-success {
  color: #fff;
  background-color: #0abb87;
  border-color: #0abb87;
  color: #ffffff;
}

.voyager .btn.btn-success:hover {
  color: #fff;
  background-color: #08976d;
  border-color: #078b64;
}

.voyager .btn.btn-success:focus,
.voyager .btn.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
}

.voyager .btn.btn-success.disabled,
.voyager .btn.btn-success:disabled {
  color: #fff;
  background-color: #0abb87;
  border-color: #0abb87;
}

.voyager .btn.btn-success:not(:disabled):not(.disabled):active,
.voyager .btn.btn-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #078b64;
  border-color: #077e5b;
}

.voyager .btn .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #078b64;
  border-color: #077e5b;
}

.voyager .btn .btn-success:not(:disabled):not(.disabled):active:focus,
.voyager .btn .btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
}

.voyager .btn .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
}

.voyager .btn .btn-success + .btn.dropdown-toggle {
  position: relative;
}

.voyager .btn .btn-success + .btn.dropdown-toggle:before {
  display: block;
  content: " ";
  border-left: 1px solid #ffffff;
  position: absolute;
  top: 3px;
  left: -1px;
  bottom: 3px;
  opacity: 0.3;
}

.voyager .btn .btn-success + .btn.dropdown-toggle:hover:before,
.voyager .btn .btn-success + .btn.dropdown-toggle:focus:before,
.voyager .btn .btn-success + .btn.dropdown-toggle.active:before {
  display: none;
}

.voyager .btn.btn-danger {
  color: #fff;
  background-color: #fd397a;
  border-color: #fd397a;
  color: #ffffff;
}

.voyager .btn.btn-danger:hover {
  color: #fff;
  background-color: #fd1361;
  border-color: #fc0758;
}

.voyager .btn.btn-danger:focus,
.voyager .btn.btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
}

.voyager .btn.btn-danger.disabled,
.voyager .btn.btn-danger:disabled {
  color: #fff;
  background-color: #fd397a;
  border-color: #fd397a;
}

.voyager .btn.btn-danger:not(:disabled):not(.disabled):active,
.voyager .btn.btn-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #fc0758;
  border-color: #f40252;
}

.voyager .btn .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #fc0758;
  border-color: #f40252;
}

.voyager .btn .btn-danger:not(:disabled):not(.disabled):active:focus,
.voyager .btn .btn-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
}

.voyager .btn .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
}

.voyager .btn .btn-danger + .btn.dropdown-toggle {
  position: relative;
}

.voyager .btn .btn-danger + .btn.dropdown-toggle:before {
  display: block;
  content: " ";
  border-left: 1px solid #ffffff;
  position: absolute;
  top: 3px;
  left: -1px;
  bottom: 3px;
  opacity: 0.3;
}

.voyager .btn .btn-danger + .btn.dropdown-toggle:hover:before,
.voyager .btn .btn-danger + .btn.dropdown-toggle:focus:before,
.voyager .btn .btn-danger + .btn.dropdown-toggle.active:before {
  display: none;
}

